<h2>Contact us</h2>

<div class="row" ng-show="!vm.success">


  <form name="vm.frm" ng-submit="vm.frm.$valid && vm.contact()" novalidate class="form-horizontal">

      <div class="form-group">
        <label class="control-label r-col-34612">First Name</label>
        <div class="r-col-98612">
          <input type="text" ng-model="vm.firstName" class="form-control"
                 placeholder="First Name" name="firstName" required/>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.firstName.$error.required">Please enter first name</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label r-col-34612">Last Name</label>
        <div class="r-col-98612">
          <input type="text" ng-model="vm.lastName" class="form-control"
                 placeholder="Last Name" name="lastName" required/>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.lastName.$error.required">Please enter last name</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label r-col-34612">Email Address</label>
        <div class="r-col-98612">
          <input type="text" ng-model="vm.emailAddress" class="form-control"
                 placeholder="Email address" name="emailAddress" required/>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.emailAddress.$error.required">Please enter email address</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label r-col-34612">Message</label>
        <div class="r-col-98612">
          <textarea ng-model="vm.message" class="form-control"
                    placeholder="Message" name="message" required>
          </textarea>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.message.$error.required">Please enter message</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label r-col-34612"></label>
        <div class="r-col-98612">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>


    </form>

  </div>

<div ng-show="vm.success">
  You request has been submitted
</div>
