<div class="row">
  <div class="r-col-12">

    <h2>
      Lease Setup
    </h2>

    <form name="vm.frm" ng-submit="vm.frm.$valid && vm.saveresident()" class="form-horizontal" novalidate>

      <div class="form-group">
        <label class="control-label r-col-34612">Lease Start Date</label>
        <div class="r-col-98612">
          <input type="date" ng-model="vm.resident.leaseStartDate" class="form-control" name="leaseStartDate" required>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.leaseStartDate.$error.required">
            Please enter start date
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label r-col-34612">Lease End Date</label>
        <div class="r-col-98612">
          <input type="date" ng-model="vm.resident.leaseEndDate" class="form-control" name="leaseEndDate" required>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.leaseEndDate.$error.required">
            Please enter end date
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label r-col-34612">Guest</label>
        <div class="r-col-98612">
          <select class="form-control" ng-options="x.guestId as x.guestName for x in vm.guests"
                  ng-model="vm.resident.residentID" name="guestId" required></select>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.guestId.$error.required">
            Please enter guest
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label r-col-34612">Apartment</label>
        <div class="r-col-98612">
          <select class="form-control" ng-options="x.apartmentId as x.description for x in vm.properties"
                  ng-model="vm.resident.propertyID" name="apartmentId" required></select>
          <span class="label label-warning" ng-show="vm.frm.$submitted && vm.frm.apartmentId.$error.required">
            Please enter apartment
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="r-col-34612"></label>
        <div class="r-col-98612">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>

    </form>

  </div>
</div>
